.main_style{
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-family: 'Yekan'!important;
  font-size: 14px;
  font-weight: bold;
  color: #28457b!important;
  background-color: rgba(208, 217, 255,0.5);
  min-width: 108px;
  padding: 5px 18px;
  &:hover{
    background: #FBF6D9;
  }
}