.blue_box_block{
  position: relative;
  font-family: 'Yekan';
  background: linear-gradient(135deg,#21254e,#2b4a83);
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 45px 20px 85px;
  line-height: 40px;
  border-radius: 20px;
  @media screen and (max-width: 430px){
    span{
      font-weight: 900 !important;
      font-size: 20px !important;
    }
  }
  span{
    font-weight: 900;
    font-size: 32px;
  }
  .register_btn{
    background: transparent linear-gradient(270deg,#ffd900,#ffe422) 0 0 no-repeat padding-box;
    color: #413805;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    font-weight: bold;
    outline: 0;
    border: 0;
  }
  .login_btn{
    outline: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,.03);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff !important;
    background: #435a8a 0 0 no-repeat padding-box;
  }
}

.arrow_block{
  background: url("../../assets/pics/arrowbottom.svg") no-repeat 50%;
  background-size: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 164px;
  height: 78px;
  top: -39px;
}

