@font-face {
  font-family: 'Yekan';
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff");
}
@font-face {
  font-family: 'Yekan';
  src: url("./assets/fonts/YekanBakh-Bold.woff");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'Yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
