@font-face {
  font-family: 'Yekan';
  src: url("./assets/fonts/YekanBakhMedium.woff");
}
@font-face {
  font-family: 'Yekan';
  src: url("./assets/fonts/YekanBakhBold.woff");
  font-weight: bold;
}
@font-face {
  font-family: 'Yekan';
  src: url("./assets/fonts/YekanBakhHeavy.woff");
  font-weight: 900;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaecef !important;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
